html,body{
  margin:0 auto;
  font-family:Arial;
  background-color: rgb(228, 228, 228);
}
.container{
  display:flex;
  padding:10px;
  background-color: rgb(228, 228, 228);
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:rgb(228, 228, 228);
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(228, 228, 228);
}
#banner{
  background-color:rgb(228, 228, 228);
  color:black;
}
#footer{
  background-color:rgb(228, 228, 228);
  color:white;
  /*position:fixed;*/
  left: 0;
  right: 0;
  bottom:0px;
}
 
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  box-shadow:2px 2px 2px black;
  border-radius:2px;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
}
.button:hover{
  background-color:rgb(228, 228, 228);
}
#leftPanel{
  flex:1;
}
#rightPanel{
  flex:2;
}
.fitted{
  max-width:200px;
  min-width:200px;
}
.card img{
  height:100px;
}
#output{
  display:flex;
  flex-wrap:wrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.container{
  display:flex;
  padding:10px;
  flex-wrap:wrap;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:rgb(228, 228, 228);
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(228, 228, 228);
}
#banner{
  background-color:white;
  color:black;
}
#footer{
  background-color:rgb(228, 228, 228);
  color:white;
 
  left: 0;
  right: 0;
  bottom:0px;
}
 #cards_output{
   flex:1;
   max-height:600px;;
   overflow-y:scroll;
 }
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
  background-color: beige;
}
#map{
  flex:1;
  width:90%;

  height:calc(100vh - 300px);

  border-radius:10px;
  box-shadow:2px 2px 2px black;
}
.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
  cursor: pointer;
}
.button:hover{
  background-color:rgb(228, 228, 228);
}

.fitted{
  max-width:200px;
  min-width:200px;
  border-radius:5px;
  
  box-shadow:2px 2px 2px gray;
}

.mapreport h1{
  text-align: center;
}

.mapreport h5{
  text-align: center;
  
}